extends layout

block content
  div(class='wrapper')
    div(class='container' id='home_container')
      div(id='home_title') #{title}
      form(action='/auth_client' method='GET')
        input(id='home_login' class="button_default" type="submit" value="Connect Your Spotify Account!")