doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')      
    link(rel='stylesheet', href='/stylesheets/style.css')   
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css') 
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css') 
    script(src='/jquery/dist/jquery.min.js')   
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/angular/angular.min.js')    
    script(src='/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js')
    script(src='/javascripts/playlist.js')        
    script(src='/javascripts/search.js')
  body(ng-app='spotifit')
    block content
