extends layout

block content
  div
    button(class="button_default button_default_normal button_back" onclick='window.location.href="/generationOptions"') Back to Options 
  div(class='wrapper')
    div(class='container' id='home_container')
      div(class='page_title') Select a Playlist  
      each playlist in playlists
        div(class="playlist_title")
          a(href='/playlist?id=' + playlist.id + '&name=' + playlist.name) #{playlist.name}
          br