*{
	margin: 0;
	padding: 0;
	box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
}

html{
	height: 100%;
	width: 100%;
}

body {
	background-color: rgb(0, 153, 51) !important;
	color: white !important;
  	height: 100%;
  	width: 100%;
  	font-family: 'Montserrat', sans-serif !important;
}

button:focus, input:focus{
	outline: none !important;
}

button:hover, input:hover{
	cursor: pointer;
}

input{
	color: black;
}

a {
  	color: white !important;  	
}

a:hover{
	text-decoration: none !important;
}

.wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}

.container{
	position: relative;
	top: 50%;
	text-align: center;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

.fixed_container{
	position: relative;
	margin-top: 100px;
	top: 0 !important;
	transform:translateY(0%) !important;
	-webkit-transform:translateY(0%) !important;
}


.button_default{
	background-color: rgb(13, 26, 0);
	border: 0px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.button_default_normal{
	height: 2.5em;
	width: 14em;
	margin: 1.75em;
	border-radius: 0.6em;
	font-size: 1.5em;    
}

.page_title{
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	letter-spacing: 0.075em;
	padding: 1em;
}

.search_default{
	height: 65px;
	width: 80%;
	margin: 42.5px 0;
	padding: 0em 1em;
	border: 0;
	border-radius: 0.6em;
	box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	color: black !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;    
}

.dropdown-menu{
	width: 20em !important;	
	font-size: 1.5em !important;
}

.dropdown-menu li a{
	color: black !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.loading{	
	position: relative;
	height: 100px;
	margin-left: 10px;	
}

.glyphicon-refresh{
	color: white;
	font-size: 2em;
	line-height:  100px !important
}

.error_message{
	color: white;
	font-size: 1.5em;
}

.error_message > span{
	padding: 0.5em;
}

.selected_elmt{
	display: inline-block;
	margin: 0.2em;
	padding: 1em;
	background-color: rgb(26, 51, 0);
	border-radius: 0.5em;
	color: white;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	text-align: left;
}

.selected_remove:hover{
	color: rgb(0, 153, 51);
	cursor: pointer;
}

.entry_container_wrapper{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	max-height: 500px;
	max-width: 1300px;
	overflow: hidden;
}

.entry_container{
	height: 100%;
	width: 100%;
	padding-right: 17px;
	max-height: 500px;
	max-width: 1300px;
	overflow-y: scroll;	
}

.entry_wrapper{
	height: 50px;
	width: calc(100% + 17px);
	font-family: 'Montserrat', sans-serif;
}

.entry_wrapper:hover{
	background-color: rgb(26, 51, 0);
	border-radius: 10px;
	cursor: pointer;
}

.entry_wrapper_nonselectable:hover{
	background-color: inherit !important;
	border-radius: 0px !important;
	cursor: default !important;
}

.entry{
	position: relative;
	top: 50%;
	padding: 0px 20px;
	font-size: 1.5em;
	text-align: left;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}


.tab-content{
	background-color: rgba(13, 26, 0, 0.7);
	border-radius: 0.75em;
	border-top-left-radius: 0px;
	min-height: 100px;
}

.uib-tab{
	height: 4em;
	font-size: 1.5em;
}

.uib-tab .nav-link{
	height: 100%;
	padding: 0 20px;
	border: 0px !important;
	letter-spacing: 0.1em;
	line-height: 3.75em;
}

.nav-tabs{
	border-bottom: 0px !important;
}

.nav-tabs>li.active>a, 
.nav-tabs>li>a:hover,
.nav-tabs>li:hover{
	background-color: rgb(13, 26, 0) !important;
	border-top-left-radius: 0.75em;
	border-top-right-radius: 0.75em;
}

#home_title{
	padding: 0.25em;
	font-family: 'Montserrat', sans-serif;
	font-size: 7em;
	letter-spacing: 0.1em;
}

#home_login{
	height: 2.75em;
	width: 20em;
	border-radius: 15px;
	font-size: 1.75em;
	letter-spacing: 0.125em;
}

.#tabs_wrapper{
	display: inline-block;
	width: 100%;
	float: left;
}

#tabs_wrapper > div{
	height: 100%;
	width: 100%;
}

#playlist_name{
	padding: 0.75em;
}

#search_container{
	height: 150px;
	width: 60%;	
}

#search_container > ul{	
	width: 46% !important;
}

#selected_elmt_container{
	display:inline-block;
	margin-top: 2em;
}
